<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hig.herd.ngaj"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="hig.herd.ngaj.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="hig.herd.ngaj.GPSservice"
            android:exported="false" />
        <service
            android:name="hig.herd.ngaj.DBservice"
            android:exported="false" />

        <receiver android:name="hig.herd.ngaj.ReceiveData" >
            
        </receiver>

        <activity
            android:name="hig.herd.ngaj.Results"
            android:label="@string/title_activity_results"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="hig.herd.ngaj.Stats"
            android:label="@string/title_activity_stats" >
        </activity>
        
        <activity
            android:name="hig.herd.ngaj.Tracks"
            android:label="@string/title_activity_tracks" >
        </activity>

        <activity
            android:name="hig.herd.ngaj.LevelUp"
            android:label="@string/title_activity_level_up"
            android:screenOrientation="portrait" >
        </activity>
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCl4G8fmz8qIiMZKb2vfXFTF7VWswO5PWI" />

        
    </application>

</manifest>
